@import url('../fonts/OpenSans/OpenSans.css');
@import url('../fonts/UdemyIcons/UdemyIcons.css');

* {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

/* HEADER */

header {
    color: rgb(80, 87, 99);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 1px #B2B2B2;
}

header > .logo {
    margin-right: 34px;
    width: 110px;
    height: auto;
}

header > .explore {
    margin-right: 34px;
    color: rgb(80, 87, 99);
    font-size: 13px;
    padding: 20px 0px;
}

header > .explore:hover {
    cursor: pointer;
}

header > .explore > .udi-explore {
    color: rgb(161, 167, 179);
    margin-right: 4px;
}

header > .search-bar {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 44px;
    max-width: 504px;
    margin-right: 25px;
}

header > .search-bar > * {
    background-color: #F3F3F3;
}

header > .search-bar > input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    flex-grow: 1;
    padding: 14px;
    max-width: 460px;
    border: none;
    font-size: 13px;
}

header > .search-bar > input:focus {
    background-color: white;
    outline: none;
    padding: 13px;
    border-left: solid 1px #D2D2D2;
    border-top: solid 1px #D2D2D2;
    border-bottom: solid 1px #D2D2D2;
}

header > .search-bar > input:focus ~ button {
    border-top: solid 1px #D2D2D2;
    border-right: solid 1px #D2D2D2;
    border-bottom: solid 1px #D2D2D2;
    background-color: white;
}

header > .search-bar > input:focus ~ button:hover {
    border-top: solid 1px rgb(236, 82, 82);
    border-right: solid 1px rgb(236, 82, 82);
    border-bottom: solid 1px rgb(236, 82, 82);
}

header > .search-bar > button {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: rgb(236, 82, 82);
    border: none;
    width: 44px;
    font-size: 15px;
    text-align: center;
}

header > .search-bar > button:hover {
    background-color: rgb(236, 82, 82) !important;
    color: #F2F2F2;
    cursor: pointer;
}

header > .search-bar > button:focus {
    outline: none;
}

header > .teach-link {
    color: inherit;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 3px;
    padding: 12px 15px 12px 15px;
    margin-right: 10px;
}

header > .teach-link:hover {
    padding: 12px 14px 12px 14px;
    border: solid 1px #E2E2E2;
    background-color: #F3F3F3;
}

header > .cart-icon {
    font-size: 20px;
    padding: 12px;
}

header > .cart-icon:hover {
    border-radius: 50%;
    padding: 11px;
    border: 1px solid #E2E2E2;
    background-color: #F3F3F3;
    cursor: pointer;
}

/* END HEADER */

/* MEDIA QUERIES */

/* 
    Device = Desktops
    Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

}

/* 
    Device = Laptops, Desktops
    Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/* 
    Device = Tablets, Ipads (portrait)
    Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/* 
    Device = Low Resolution Tablets, Mobiles (Landscape)
    Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

}

/* 
    Device = Most of the Smartphones Mobiles (Portrait)
    Screen = B/w 320px to 479px
*/
@media (max-width: 480px) {

}