@font-face {
    font-family:'UdemyIcons';
    src: url('./UdemyIcons.woff2') format('woff2'), url('./UdemyIcons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.udi {
    font-family: 'UdemyIcons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.udi-academics::before {
    content: "\E693";
}

.udi-activity::before {
    content: "\E902";
}

.udi-angle-down::before {
    content: "\F107";
}

.udi-bell-line::before{
    content: "\E91F";
}

.udi-caret-down::before {
    content: "\F0D7";
}

.udi-cart-line::before {
    content: "\E91E";
}

.udi-check::before {
    content: "\F00C";
}

.udi-icon-xmark::before {
    content: "\E730";
}

.udi-closed-caption::before {
    content: "\E78A";
}

.udi-comment::before {
    content: "\F075";
}

.udi-explore::before {
    content: "\E90F";
}

.udi-file-text-o::before {
    content: "\F0F6";
}

.udi-flag::before {
    content: "\F024";
}

.udi-gift::before {
    content: "\F06B";
}

.udi-globe::before {
    content: "\F0AC";
}

.udi-heart::before {
    content: "\F007";
}

.udi-heart-o::before {
    content: "\F08A";
}

.udi-icon-check::before {
    content: "\E606";
}

.udi-share::before {
    content: "\F064";
}

.udi-menu::before {
    content: "\E73B";
}

.udi-mobile-apps::before {
    content: "\E6E3";
}

.udi-play-circle::before {
    content: "\F144";
}

.udi-search::before {
    content: "\F002";
}

.udi-star::before {
    content: "\F005";
}

.udi-user::before {
    content: "\F009";
}

.udi-video-design::before {
    content: "\E71C";
}

.udi-what-lifetime::before {
    content: "\E759";
}

.udi-stress-management::before {
    content: "\E714";
}

.udi-medium {
    font-size:32px;
}

.udi {
    vertical-align:-8%;
}